---
layout: default
title: About Embodied Ayurveda
header: 
  heading: About Embodied Ayurveda
  description_html: >-
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  about-topics: 
   - heading: Our Philosophy
     description_html: >-
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   - heading: Our Program
     description_html: >-
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   - heading: Our Approach
     description_html: >-
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  image: 
    image_path: /images/temporary/1.jpg
    image_focus: 
why: 
  heading: Why choose Embodied Ayurveda?
  description_html: >- 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
team: 
  heading: Embodied Ayurveda Teaching team
  description_html: >- 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  teachers: 
   - image_path: /images/temporary/1.jpg
     name: Brittany Woodard
     description_html: >- 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   - image_path: /images/temporary/1.jpg
     name: Brittany Woodard
     description_html: >- 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
upcoming-event: 
  heading: Upcoming Retreat
  image: 
    image_path: /images/temporary/1.jpg
    image_focus: 
  title: Ayurvedic Clinical Training & Business Strategy Retreat
  description_html: >- 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  button: 
    text: Learn more
    url: /clinical-training.html
cta: 
  background_color: feature
---

<!-- Header -->
<section class="grid grid-cols-4">
    <div class="col-span-3 p-10p">
        <div class="mb-8">
            <h1 class="serif-l">{{ page.header.heading }}</h1>
            <div>{{ page.header.description_html }}</div>
        </div>

        <!-- Dropdown Menu -->
        <ul class="list-none ml-0 border border-dark">
            {% for item in page.header.about-topics %}
            <li x-data="{ open: false }" class="border-b border-dark p-4 last:border-0">
                <button @click="open = ! open" class="flex items-center justify-between w-full">
                    <h3 class="text-left mr-8">{{item.heading}}</h3>

                    <span x-show="!open" class="text-[1.5rem] font-serif">→</span>
                    <span x-show="open" class="text-[1.5rem] font-serif ml-8">↓</span>
                </button>
                <div x-show="open" @click.outside="open = false" class="pb-8">
                    <p class="mb-8 mr-8 italic">{{item.description_html}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Image -->
    <div class="bg-image-style" style="background-image: url('{{ page.header.image.image_path }}'); background-position: {{ page.header.image.image_focus }};"></div>
</section>

<!-- Why Choose Us Section -->
<section class="text-center p-5p bg-main border-y border-dark">
    <div>
        <h2 class="serif-m">{{ page.why.heading }}</h2>
        <div class="w-[80%] mx-auto">{{ page.why.description_html }}</div>
        <hr class="mt-12 border-dark w-[20%] mx-auto">
    </div>
</section>

<!-- Teachers -->
<section>
    <div class="p-5p">
        <h2 class="serif-m">{{ page.team.heading }}</h2>
        <div class="w-[80%]">{{ page.team.description_html }}</div>
    </div>

    <!-- Teachers Grid -->
    {% for item in page.team.teachers %}
    <div class="grid grid-cols-2">

        <!-- Image -->
        <div class="bg-image-style aspect-square" style="background-image: url('{{ item.image_path }}');"></div>

        <!-- Text -->
        <div class="{% cycle 'order-last', 'order-first' %} flex items-center justify-center">
            <div class="bg-light border border-dark p-10p my-10p {% cycle '-ml-[20%] mr-10p', '-mr-[20%] ml-10p' %} z-20">
                <h3 class="serif-s">{{ item.name }}</h3>
                <div>{{ item.description_html }}</div>
            </div>
        </div>
    </div>
    {% endfor %}

</section>

<!-- Upcoming Event -->
<section>
    <h2 class="font-serif text-main text-[7rem] font-bold mt-10p">{{ page.upcoming-event.heading }}</h2>

    <div class="grid grid-cols-2 gap-16 px-10p pb-10p -mt-[4.5%]">
        
        <!-- Image -->
        <div class="bg-image-style min-h-[40vh]" style="background-image: url('{{ page.upcoming-event.image.image_path }}'); background-position: {{ page.upcoming-event.image.image_focus }};"></div>

        <!-- Event Info -->
        <div class="flex items-center justify-center">
            <div>
                <h3 class="serif-s">{{ page.upcoming-event.title }}</h3>
                <div>{{ page.upcoming-event.description_html }}</div>
                <a href="{{ page.upcoming-event.button.url }}" class="button mt-8">{{ page.upcoming-event.button.text }}</a>
            </div>
        </div>
    </div>
</section>

<!-- CTA -->
{% include cta-waitlist.html %}