---
layout: blank
title: Ayurvedic Internship in Bali
seo:
  title: Ayurvedic Internship in Bali
  description: Learn more about our 8-day (10-night) Ayurvedic training in beautiful Ubud, Bali
  keywords: ayurvedic yoga therapy, ayurveda thailand, learn ayurveda, koh phangan retreats
  social_image: /images/embodied-ayurveda.jpg
  hide-from-google: true
---

<!-- Header -->
<section class="md:grid md:grid-cols-2 relative">

  <!-- Left Column -->
  <div class="relative h-[50vh] md:h-[100vh] w-[80vw] md:w-full z-10 overflow-hidden bg-[top] bg-image-style" style="background-image: url('/images/embodied-ayurveda-2.jpg');" data-aos="fade-up" data-aos-offset="0"
    data-aos-duration="2000">
  </div>

  <!-- Floating Image -->
  <div
    class="absolute top-28 md:top-[25%] lg:top-[20%] right-4 md:right-[45%] aspect-[3/4] h-[45vh] lg:h-[60vh] z-20"
    data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500">
    <video autoplay muted loop playsinline class="absolute inset-0 w-[75vw] lg:w-full h-full object-cover">
      <source src="/images/videos/ayurvedic-internship-small.webm" type="video/webm">
      <source src="/images/videos/ayurvedic-internship-small.mp4" type="video/mp4">
      <p>Sorry, your browser doesn't support embedded videos.</p>
    </video>
  </div>

  <!-- Right Column -->
  <div class="md:p-10p flex justify-center items-center mt-32 lg:mt-0 mb-12 md:mb-0">
    <div class="md:w-[80%] mx-auto p-5p md:p-0" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
      <h1 class="font-serif leading-[1em] text-[3rem] text-center uppercase">Ayurvedic Internship</h1>
      <h2 class="text-center leading-[1.2em] mt-2 mb-8 text-[1rem] font-[300] uppercase">Hands-on Clinical Training<br>{{ site.data.site-settings.retreats.ayurvedic-internship.upcoming-date }}</h2>

      <!-- OP Popup Button -->
      {% include button-op-center.html %}
    </div>

    <!-- Popup Form -->
    {% include form-op-popup-yoga.html %}


  </div>

</section>

<footer class="border-t border-dark py-2 bg-light">
  <p class="text-center text-[0.9rem]">Designed & Deveoloped by <a href="https://embodiedcreativeagency.com/" target="_blank">Embodied Creative</a>.</p>
</footer>