---
layout: blank
title: Ayurvedic Internship in Bali
features: 
 - Refine your clinical skills
 - Gain hands-on experience
 - Build confidence as a practitioner
seo:
  title: Ayurvedic Internship in Bali
  description: Learn more about our 7-day immersive Ayurvedic training in beautiful Ubud, Bali
  keywords: ayurvedic internship, ayurveda bali, learn ayurveda, bali retreats
  social_image: /images/bali-preceptor-expereince.jpg
  hide-from-google: false
---

<!-- Desktop -->
<section class="md:grid md:grid-cols-2 relative">

  <!-- Left Column -->
  <div class="relative h-[50vh] md:h-[100vh] z-10 overflow-hidden bg-[top] bg-image-style" style="background-image: url('/images/embodied-ayurveda-2.jpg');" data-aos="fade-up" data-aos-offset="0"
    data-aos-duration="2000">
  </div>

  <!-- Floating Image -->
  <div
    class="absolute top-28 md:top-[25%] lg:top-[20%] right-4 md:right-[45%] aspect-[3/4] h-[45vh] lg:h-[60vh] z-20"
    data-aos="fade-up" data-aos-offset="0" data-aos-duration="3000" data-aos-delay="500">
    <video autoplay muted loop playsinline class="absolute inset-0 w-[75vw] lg:w-full h-full object-cover">
      <source src="/images/videos/ayurvedic-internship-small.mp4" type="video/mp4">
      <p>Sorry, your browser doesn't support embedded videos.</p>
    </video>
  </div>

  <!-- Right Column -->
  <div class="md:p-10p flex justify-center items-center mt-32 lg:mt-0 mb-12 md:mb-0">
    <div class="md:w-[80%] mx-auto p-5p md:p-0">
      <h1 class="font-serif leading-[1em] text-[3rem] text-center uppercase">Ayurvedic Internship</h1>
      <h2 class="text-center leading-[1.2em] mt-2 mb-4 text-[1rem] font-[300] uppercase">Hands-on Clinical Training<br>{{site.data.site-settings.retreats.ayurvedic-internship.upcoming-date}}</h2>

      <!-- OP Popup Button -->
      {% include button-op-center.html %}

    </div>
  </div>

</section>

<!-- Description -->
<section class="">
  <div class="py-24 px-8 lg:px-20 border-t border-dark md:border-0 lg:w-[70%]">
    <h2 class="text-[1.2rem] leading-7 mb-0">Our Ayurvedic Internship is a <strong>8-day (10-night) immersion</strong> designed to take you <strong>beyond theory</strong> and into <strong>real-world Ayurvedic practice</strong>.</h2>
  </div>

  <!-- Features -->
  <div class="py-24 px-8 lg:px-20 bg-main uppercase text-center">
    {% for item in page.features %}
    <div class="grid grid-cols-2">
      <div class="col-span-2">
        <p class="py-4">{{ item }}</p>
      </div>
      <div class="col-span-2 grid grid-cols-2">
        <div class="border-r-2 border-dark h-32"></div>
        <div></div>
      </div>
    </div>
    {% endfor %}
    
  </div>

</section>


<section class="bg-dark text-light py-24 px-8 lg:px-20">
  <h2 class="leading-[1em] mb-4 font-serif text-[1.5rem] uppercase">Learn More About Our Ayurvedic Internship in Bali</h2>
  
  <!-- OP Popup Button -->
  {% include button-op-left.html %}
</section>


<!-- Teacher -->
<section class="py-24 px-8 lg:px-20">

  <!-- Dr. Resmi -->
  <div class="grid grid-cols-2 gap-20 mb-10p">

    <!-- Left Column / Text -->
    <div class="flex items-center">
      <div>
        <h3 class="uppercase tracking-wider mb-4 leading-tight">Dr. Resmi V. Rajagopal - BAMS, MS (Ayurveda Gynec) PGDYN</h3>
        <p>Dr. Resmi V. Rajagopal is a dedicated Ayurveda Physician and founder of the versatile wellness app Ayurshe, and born and nurtured in the Ayurvedic-rich environment of Kerala, India. Her journey in Ayurvedic medicine commenced in 2007, marked by her graduation from Pankajakasthuri Ayurveda Medical College in Thiruvananthapuram, followed by a master’s degree from the prestigious ITRA Jamnagar. Her academic path was enhanced by additional training in yoga therapy, beauty care, and pulse diagnosis.</p>
        <p>Throughout her career, Dr. Rajagopal has developed a keen expertise in patient care, diagnostic skills, and hands-on surgical experiences, infused with the practical wisdom and spiritual insights imparted by her GURUs. Her approach to health and wellness extends beyond traditional learning, embodying a holistic perspective.</p>
        <p>Dr. Rajagopal's passion for education led her to the role of assistant professor at the SDM College of Ayurveda in Udupi, India, where she played a pivotal role in mentoring the next generation of Ayurveda students. This experience significantly enriched her skills in both theoretical and practical aspects of Ayurvedic medicine.</p>
      </div>
    </div>

    <!-- Right Column / Image -->
    <div class="bg-image-style aspect-square relative" style="background-image: url('/images/embodied-ayurveda-1.jpg');">
    
      <h2 class="absolute -top-[2.5rem] right-0 uppercase font-serif text-accent text-[3.3rem]">Your preceptor</h2>
    </div>
  </div>

  
  <!-- Brittany -->
  <div class="grid grid-cols-2 gap-20">

    <!-- Left Column / Image -->
    <div class="bg-image-style aspect-square relative" style="background-image: url('/images/embodied-ayurveda-1.jpg');">
    
      <h2 class="absolute -top-[2.5rem] left-0 uppercase font-serif text-accent text-[3.3rem]">Your facilitator</h2>
    </div>

    <!-- Right Column / Text -->
    <div class="flex items-center">
      <div>
        <h3 class="uppercase tracking-wider mb-4 leading-tight">Brittany Woodard - AP, E-RYT 500</h3>
        <p>Dr. Resmi V. Rajagopal is a dedicated Ayurveda Physician and founder of the versatile wellness app Ayurshe, and born and nurtured in the Ayurvedic-rich environment of Kerala, India. Her journey in Ayurvedic medicine commenced in 2007, marked by her graduation from Pankajakasthuri Ayurveda Medical College in Thiruvananthapuram, followed by a master’s degree from the prestigious ITRA Jamnagar. Her academic path was enhanced by additional training in yoga therapy, beauty care, and pulse diagnosis.</p>
        <p>Throughout her career, Dr. Rajagopal has developed a keen expertise in patient care, diagnostic skills, and hands-on surgical experiences, infused with the practical wisdom and spiritual insights imparted by her GURUs. Her approach to health and wellness extends beyond traditional learning, embodying a holistic perspective.</p>
        <p>Dr. Rajagopal's passion for education led her to the role of assistant professor at the SDM College of Ayurveda in Udupi, India, where she played a pivotal role in mentoring the next generation of Ayurveda students. This experience significantly enriched her skills in both theoretical and practical aspects of Ayurvedic medicine.</p>
      </div>
    </div>

</section>


<footer class="border-t border-dark py-2 bg-feature">
  <p class="text-center text-[0.9rem]">Designed & Deveoloped by <a href="https://embodiedcreativeagency.com/" target="_blank">Embodied Creative</a>.</p>
</footer>