---
layout: default
header: 
  description_html: >-
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
  image: 
    image_path: /images/temporary/1.jpg
    image_focus: 
features: 
  heading: Why Choose Embodied Ayurveda?
  features: 
   - heading: Meet In-Person & Clinical Hour Requirements
     description_html: >- 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
   - heading: Build the Foundations For Your Ayurvedic Clinical Practice
     description_html: >- 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
   - heading: Refine your Ayurvedic Assessment Skills
     description_html: >- 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
curriculum: 
  heading: Heading about the curriculum
  description_html: >- 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
  topics: 
    heading: Inside the curriculum
    topic: 
     - Art of Questioning
     - Pulse Diagnosis & Taking Vital Signs Practical Workshop
     - Practical Tongue Assessment
     - Setting the Foundations for Your Clinical Practice
     - Your Customer Experience
     - Crafting Your Brand Strategy
     - And More...
schedule: 
  image: 
    image_path: /images/temporary/1.jpg
    image_focus: 
  heading: Sample Daily Schedule
  schedule: 
   - time: 7:00 - 8:30
     activity: Yoga & Meditation
   - time: 9:00 - 11:00
     activity: Business Workshop
   - time: 11:00 - 1:00
     activity: Nourishing Lunch
   - time: 1:00 - 3:00
     activity: Ayurvedic Assessment Workshop
   - time: 3:00 - 5:00
     activity: Peer Assessment Groups
banner: 
  image: 
    image_path: /images/temporary/1.jpg
    image_focus: 
teachers: 
 - image: 
     image_path: /images/temporary/1.jpg
     image_focus: 
   name: Brittany Woodard
   id: brittany
   description_html: >- 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
 - image: 
     image_path: /images/temporary/1.jpg
     image_focus: 
   name: Brittany Woodard
   id: resmi
   description_html: >- 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
location: 
  image: 
    image_path: /images/temporary/1.jpg
    image_focus: 
  heading: Ubud, Bali
  description_html: >- 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
investment: 
  image: 
    image_path: /images/temporary/1.jpg
    image_focus: 
  includes: 
    heading: What's Included
    list-items: 
    - item: Daily Yoga & Meditation Sessions
    - item: Specialized Workshops
    - item: Training Manual
    - item: Email Template Kit
    - item: 40 In-Person Hours
    - item: 25 Clinical Hours
    - item: Certificate of Completion
    - item: Official transcripts sent to Yoga Veda Institute
    - item: 25% Discount at Embodied Creative
  excludes: 
    heading: What's Not Included
    list-items: 
     - item: Food
     - item: Accommodation
     - item: Airport transfer
     - item: Visa On Arrival
     - item: Airfare
    button: 
      text: See a list of estimated expenses
      url: 
  investment: 
    heading: Investment
    pay-in-full: 
      text: Pay In Full via Bank Transfer
      price: $1290 USD
    payment-plan: 
      text: Payment Plan
      price: $265 X 6 Months
cta: 
  button: 
    text: Join the cta-waitlist
    url: 
  background_color: feature
faq: 
  heading: Frequently Asked Questions
  faq: 
   - question: This is a question
     answer_html: >- 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
   - question: This is a question
     answer_html: >- 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
---

<!-- Header -->
<section class="grid grid-cols-3 min-h-100">

    <!-- Text -->
    <div class="col-span-2 p-10p flex justify-center items-center">
      <div>
        <h1 class="serif-lg">{{ site.data.event-settings.upcoming-retreat.title }}</h1>
        <p class="font-normal mt-2">{{ site.data.event-settings.upcoming-retreat.subtitle }}</p>
        <span class="uppercase block">{{ site.data.event-settings.upcoming-retreat.dates }}</span>
        <hr class="my-12 border-dark w-[20%]">
        <p>{{ page.header.description_html }}</p>
      </div>
    </div>

    <!-- Image -->
    <div class="bg-image-style" style="background-image: url('{{ page.header.image.image_path }}'); background-position: {{ page.header.image.image_focus }};"></div>
</section>


<!-- Features -->
<section class="py-5p border-y border-dark">
  <h2 class="font-serif text-main text-[5rem] font-bold -ml-4">{{ page.features.heading }}</h2>

  <!-- Features -->
  <div class="grid grid-cols-4 pr-10p -mt-[2.5%]">
    <div class="col-start-2 col-span-3 grid grid-cols-3 gap-8">
      {% for item in page.features.features %}
      <div class="p-10p bg-light border border-dark">
        <h3 class="serif-sm">{{ item.heading }}</h3>
        <div>{{ item.description_html }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- Curriculum -->
<section class="grid grid-cols-2 gap-12 p-5p bg-feature relative overflow-y-auto h-[60vh]">
  <!-- Curriculum Overview -->
  <div class="sticky top-0 h-[60vh] flex flex-col content-start">
    <h2 class="serif-md">{{ page.curriculum.heading }}</h2>
    <div class="w-[80%]">{{ page.curriculum.description_html }}</div>
  </div>

  <!-- Inside the curriculum -->
  <div>
    <h3 class="serif-md ml-[8%] sticky top-0 bg-feature z-20">{{ page.curriculum.topics.heading }}</h3>
    <div class="grid grid-cols-12">
      <!-- Line -->
      <div></div>
      <div class="border-l border-dark min-h-[15vh]"></div>
      <div class="col-span-10"></div>
      {% for item in page.curriculum.topics.topic %}
      
      <!-- Dot -->
      <!-- First Row -->
      <div class="col-span-2 text-center"><i class="fa-solid fa-circle"></i></div>
      <div class="col-span-10">
        <p class="ml-[7%]">{{ item }}</p>
      </div>

      {% if forloop.last == false %}
      <!-- Second Row -->
      <div></div>
      <div class="border-l border-dark min-h-[15vh]"></div>
      <div class="col-span-10"></div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>


<!-- Schedule -->
<section class="p-5p grid grid-cols-2">

  <!-- Image -->
  <div class="bg-image-style min-h-[45vh]" style="background-image: url('{{ page.schedule.image.image_path }}'); background-position: {{ page.schedule.image.image_focus }};"></div>

  <!-- Schedule -->
  <div class="flex items-center m-10p pl-[20%] border-l border-dark">
    <div>
      <h2 class="serif-md mb-4">{{ page.schedule.heading }}</h2>
      <ul>
        {% for item in page.schedule.schedule %}
        <li class="flex justify-between space-x-48 mb-8 border-b border-dark">
          <span>{{ item.time }}</span>
          <span>{{ item.activity }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>


<!-- Banner -->
<section class="bg-image-style min-h-60" style="background-image: url('{{  page.banner.image.image_path }}'); background-position: {{ page.banner.image.image_focus }};"></section>


<!-- Teachers -->
<section class="p-5p"> 
  <h2 class="font-serif text-white text-[5rem] font-bold -ml-4">Meet Your Facilitators</h2>

  <div class="flex justify-center gap-16">
    {% for item in page.teachers %}
    <!-- Teacher -->
    <div class="max-w-[30vw] -mt-[2.5%]">
      <div class="bg-image-style aspect-square mb-8" style="background-image: url('{{ item.image.image_path }}'); background-position: {{ item.image.image_focus }};"></div>
      <h3 class="serif-sm">{{ item.name }}</h3>
      <div>{{ item.description_html }}</div>
      <a href="/about.html#{{ item.id }}" class="button mt-4">Learn More</a>
    </div>
    {% endfor %}
  </div>
</section>


<!-- Location -->
<section class="py-5p mb-5p">
  <div class="grid grid-cols-2">

    <!-- Text -->
    <div class="flex items-center justify-center">
      <div class="bg-light border border-dark p-10p my-10p -mr-[20%] ml-10p % z-20">
        <h3 class="serif-sm">{{ page.location.heading }}</h3>
        <div>{{ page.location.description_html }}</div>
      </div>
    </div>

    <!-- Image -->
    <div class="bg-image-style aspect-square" style="background-image: url('{{ page.location.image.image_path }}'); background-position: {{ page.location.image.image_focus }};"></div>

  </div>
</section>


<!-- Investment -->
<section class="py-5p border-y border-dark">
  <div class="grid grid-cols-2">

    <!-- Image -->
    <div class="bg-image-style" style="background-image: url('{{ page.investment.image.image_path }}'); background-position: {{ page.investment.image.image_focus }};"></div>

    <!-- Text -->
    <div class="mx-10p">

      <!-- Included -->
      <div class="mb-8 border-b border-dark">
        <h2 class="serif-md">{{ page.investment.includes.heading }}</h2>
        <ul class="list-disc ml-4 mb-8">
          {% for item in page.investment.includes.list-items %}
          <li>{{ item.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Not Included -->
      <div class="mb-8 border-b border-dark">
        <h2 class="serif-md">{{ page.investment.excludes.heading }}</h2>
        <ul class="list-disc ml-4">
          {% for item in page.investment.excludes.list-items %}
          <li>{{ item.item }}</li>
          {% endfor %}
        </ul>
        <a href="{{ page.investment.excludes.button.url }}" class="mt-4 mb-8 button">{{ page.investment.excludes.button.text }}</a>
      </div>

      <!-- Investment -->
      <div class="border-b border-dark">
        <h2 class="serif-md">{{ page.investment.investment.heading }}</h2>
        <p>{{ page.investment.investment.pay-in-full.text }}: {{ page.investment.investment.pay-in-full.price }}</p>
        <p>{{ page.investment.investment.payment-plan.text }}: {{ page.investment.investment.payment-plan.price }}</p>
        <a href="{{ page.cta.button.url }}"  class="mt-4 mb-8 button">{{ page.cta.button.text }}</a>
      </div>

    </div>
  </div>
</section>


<!-- FAQ -->
<section class="p-5p">
  <h2 class="font-serif text-main text-[5rem] font-bold -ml-[6.1%] -z-10">{{ page.faq.heading }}</h2>
  <div class="w-2/3 -mt-12 bg-light">
    <ul class="list-none ml-0 border border-dark z-20">
      {% for item in page.faq.faq %}
      <li x-data="{ open: false }" class="border-b border-dark p-4 last:border-0">
          <button @click="open = ! open" class="flex items-center justify-between w-full">
              <h3 class="text-left mr-8">{{item.question}}</h3>

              <span x-show="!open" class="text-[1.5rem] font-serif">→</span>
              <span x-show="open" class="text-[1.5rem] font-serif ml-8">↓</span>
          </button>
          <div x-show="open" @click.outside="open = false" class="pb-8">
              <p class="mb-8 mr-8 italic">{{item.answer_html}}</p>
          </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<!-- CTA -->
{% include cta-waitlist.html %}