---
layout: default
title: In Rhythm Ayurveda Retreat in Basque Country France
cta: 
  text: Download the full itinerary
  url: #
hero: 
  heading: In Rhythm<br>A 3-night ayurveda retreat in Basque Country
  subheading: Return to yourself &<br>find someone brighter.
  description: You’ve been running on empty for so long, it’s started to feel normal
  background_image:
    image_path: /images/embodied-ayurveda-1.jpg
    image_focus: 
    overlay_style: 
experience: 
  heading: You deserve more than just a weekend away. Experience...
  description_html: |
    <p>Real rest. The kind of conversation that reminds you who you are. Ancient wisdom you’ll actually use when you get home.</p>
    <p>Three days, just for you.</p>
about: 
  heading: Three days that will change how you feel...for good.
  description_html: |
    <p>In Rhythm is a 3-night retreat in a stunning family villa in French Basque Country. A small group of women. Ayurveda teachings, yoga, nourishing food and long afternoons in nature with nowhere to be.</p>
    <p>You’ll leave rested. You’ll leave connected. And you’ll leave with a simple, practical understanding of your body that most people spend years searching for.</p>
  background_image:
    image_path: /images/embodied-ayurveda-1.jpg
    image_focus: 
benefits: 
  heading: Weaved into the retreat are workshops on Ayurveda
  subheading: Here’s what you’ll learn
  benefits_list:
    - title_html: Why you’re exhausted
      description_html: And how to bring your energy back for good
    - title_html: What your tongue reveals about your health
      description_html: And how to read it every morning in under a minute
    - title_html: Why your digestion is struggling     
      description_html: And exactly how to eat for <em>your</em> unique body so that bloating, sluggishness and discomfort become a thing of the past
    - title_html: How to care for your skin naturally
      description_html: With ingredients already in your kitchen, chosen specifically for YOU
    - title_html: Why you are the way you are
      description_html: And why it’s not a flaw, it’s your nature
    - title_html: Where your glow is hiding
      description_html: Someone probably told you this is just what getting older feels like. It’s not. You just lost it somewhere along the way
banner: 
  background_image:
    image_path: /images/embodied-ayurveda-1.jpg
    image_focus: 
    overlay_style:
food: 
  heading: Nourish yourself
  description_html: |
    <p>Food is medicine, and at In Rhythm Retreat, every meal reflects that truth. Drawing on the ancient wisdom of Ayurveda, our kitchen prepares simple, seasonal dishes designed to be gentle on the digestive system and deeply nourishing for the whole self.</p>
  images:
    image_1:
      image_path: /images/embodied-ayurveda-1.jpg
      image_focus: 
    image_2:
      image_path: /images/embodied-ayurveda-1.jpg
      image_focus:
venue: 
  heading: The Venue
  description_html: |
    <p>Far from the bustle of the coast, nestled between the river and the hills, this beautifully restored villa feels like a high-end family home. The surrounding landscapes are soft and green, and the air carries a stillness that invites you to slow down and simply breathe. Every detail of the interior has been thoughtfully curated, and it serves as the perfect backdrop for your  journey back to your radient self.</p>
  images:
   - image_path: /images/embodied-ayurveda-1.jpg
     image_focus: 
   - image_path: /images/embodied-ayurveda-1.jpg
     image_focus: 
   - image_path: /images/embodied-ayurveda-1.jpg
     image_focus: 
   - image_path: /images/embodied-ayurveda-1.jpg
     image_focus: 
   - image_path: /images/embodied-ayurveda-1.jpg
     image_focus: 
   - image_path: /images/embodied-ayurveda-1.jpg
     image_focus: 
   - image_path: /images/embodied-ayurveda-1.jpg
     image_focus: 
close:
  heading_html: |
    <h2>You just forgot what it felt like to feel good.</h2>
  description_html: |
    <p>A few days for yourself, good company, nourishing food, and a little ancient wisdom. You start to remember who you are.</p>
    <p>Your glow was never gone. It just needed somewhere to breathe.</p>
    <p>Are you ready to feel like yourself again?</p>    
---

<!-- Hero Section -->
<section class="bg-image-style h-[100vh] py-32 px-8 lg:px-20" style="background-image: url('{{ page.hero.background_image.image_path }}');">
    <div class="h-full flex items-center justify-center text-center">
        <div class="text-lighter">
            <h1 class="uppercase text-[1.2rem] mb-4">{{ page.hero.heading }}</h1>
            <h2 class="font-serif uppercase text-[3rem] leading-[1em]">{{ page.hero.subheading }}</h2>
            <p class="italic font-medium text-[1.2rem]">{{ page.hero.description }}</p>
            <a href="{{ page.cta.url }}" class="button_feature">{{ page.cta.text }}</a>
        </div>
    </div>
</section>


<!-- Experience -->
<section class="bg-feature py-32 px-8 lg:px-20 flex items-center justify-center">
    <div class="text-lighter text-center lg:w-[60%]">
        <img src="/images/illustrations/Logomark kopie 5.svg" alt="Embodied Ayurveda" class="h-20 w-auto items-center mx-auto">
        <h2 class="font-medium italic my-4"> {{ page.experience.heading }} </h2>
        <div> {{ page.experience.description_html }} </div>
    </div>
</section>


<!-- About -->
<section class="bg-dark py-32 px-8 lg:px-20">

    <!-- Text -->
    <div class="grid lg:grid-cols-2">
        <div class="text-lighter flex items-center">
            <div>
                <h2 class="font-medium italic mb-4"> {{ page.about.heading }} </h2>
                <div> {{ page.about.description_html }} </div>
                <a href="{{ page.cta.url }}" class="button_light mt-8"> {{ page.cta.text }} </a>
            </div>
        </div>

        <!-- Image -->
    <div class="bg-image-style h-[80vh] lg:ml-20" style="background-image: url(' {{ page.about.background_image.image_path }}'); background-position: {{ page.about.background_image.image_focus }};">
    </div>
</section>


<!-- Benefits -->
<section class="py-32 px-8 lg:px-20">
    <div class="text-dark text-center">
        <h2 class="font-medium italic mb-4">{{ page.benefits.heading }}</h2>
        <p class="font-serif text-[2rem] uppercase">{{ page.benefits.subheading }}</p>
    </div>
    <div class="grid md:grid-cols-2 gap-8 mt-12">
        {% for benefit in page.benefits.benefits_list %}
        <div class="">
            <h3 class="uppercase">{{ benefit.title_html }}</h3>
            <p>{{ benefit.description_html }}</p>
        </div>
        {% endfor %}
</section>


<!-- Banner -->
<section class="bg-image-style h-[60vh]" style="background-image: url('{{ page.banner.background_image.image_path }}'); background-position: {{ page.banner.background_image.imag_focus }};"></section>


<!-- Food -->
<section class="py-32 px-8 lg:px-20 bg-dark">
    <div class="text-center">
        <h2 class="font-serif text-[2rem] uppercase text-lighter">{{ page.food.heading }}</h2>
        <div class="text-lighter lg:w-[70%] mx-auto mb-8">{{ page.food.description_html }}</div>
    </div>
    <div class="grid grid-cols-2 gap-8 lg:w-[70%] mx-auto">
        <div class="bg-image-style min-h-[40vh]" style="background-image: url('{{ page.food.images.image_1.image_path }}'); background-position: {{ page.food.images.image_1.image_focus }};"></div>
        <div class="bg-image-style h-[40vh]" style="background-image: url('{{ page.food.images.image_2.image_path }}'); background-position: {{ page.food.images.image_2.image_focus }};"></div>
    </div>
</section>


<!-- Banner -->
<section class="p-8 bg-feature">
    <img src="/images/illustrations/empowered-6.png" class="h-20 items-center mx-auto">
</section>


<!-- The Villa -->
<section class="py-32">
    <div class="px-8 lg:px-20">
        <h2 class="font-serif text-[2rem] uppercase text-dark">{{ page.venue.heading }}</h2>
        <div class="lg:w-[80%]">
            {{ page.venue.description_html }}
        </div>
    </div>
    <div class="flex overflow-x-auto gap-4 mt-12 ml-8 lg:ml-20">
    {% for image in page.venue.images %}
        <div class="bg-image-style flex-none w-[25vw] h-[70vh]" style="background-image: url('{{ image.image_path }}'); background-position: {{ image.image_focus }};"></div>
    {% endfor %}
  </div>
  <p class="italic font-normal mt-4 ml-8 lg:ml-20">Swipe left to view more images...</p>
</section>