---
layout: blank
title: Embodied Ayurveda
seo:
  title: Ayurvedic Internship in Bali's Live Q&A Signup
  description: Curious about the Ayurvedic Internship in Bali? Sign up to the live Q&A and have your questions answered.
  social_image: /images/embodied-ayurveda.jpg
  hide-from-google: false
---

<!-- Hero Banner -->
<section class="section-video h-[95vh] flex items-center justify-center">
  <video autoplay muted loop playsinline poster class="bg-video">
    <source src="/images/videos/embodied-ayurveda-1.webm" type="video/webm">
    <source src="/images/videos/embodied-ayurveda-1.mp4" type="video/mp4">
    <p>Sorry, your browser doesn't support embedded videos</p> 
  </video>
  <div class="flex flex-col items-center justify-center text-center" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
    <div class="">
        <div class="p-5p text-lighter" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
          <h1 class="font-serif leading-[1em] text-[3rem] text-center uppercase">Ayurvedic Internship<br>in Bali</h1>
          <h2 class="text-center leading-[1.2em] mt-2 mb-8 text-[1rem] font-[300] uppercase">Live Q&A<br>March 12th at 4pm Europe | 7am Pacific</h2>
    
          <!-- OP Popup Button -->
          {% include button-qa-center.html %}
        </div>

        <!-- Popup Form -->
        {% include form-op-popup-qa.html %}
  </div>
</section>