<!-- Features -->

  <div class="py-24 px-8 lg:px-20 bg-main uppercase text-center" data-aos="fade" data-aos-offset="0" data-aos-duration="1000">
    
    <div class="lg:h-48 lg:overflow-y-auto">
    {% for item in page.features %}
      <div class="grid grid-cols-2">
        <div class="col-span-2">
          <p class="py-4">{{ item }}</p>
        </div>
        <div class="col-span-2 grid grid-cols-2">
          <div class="border-r-2 border-dark h-36"></div>
          <div></div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="flex justify-center -m-1">
      <img class="h-32" src="/images/illustrations/Logomark.svg">
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const scrollContainer = document.querySelector(".feature-scroll-container");
  
      scrollContainer.addEventListener("wheel", function (e) {
        const isScrollingDown = e.deltaY > 0;
        const isAtTop = scrollContainer.scrollTop === 0;
        const isAtBottom = scrollContainer.scrollHeight - scrollContainer.scrollTop === scrollContainer.clientHeight;
  
        if ((isScrollingDown && !isAtBottom) || (!isScrollingDown && !isAtTop)) {
          // Prevent page scroll
          e.stopPropagation();
          e.preventDefault();
        }
      }, { passive: false });
    });
  </script>
  
</section>