<!-- "Get the Guide" Button -->
<div class="flex justify-center">
    <button id="openPopupBtn" class="open-popup-btn border border-dark bg-feature rounded-none cursor-pointer py-2 px-8 hover:duration-500 hover:shadow-lg">Get the Guide</button>
</div>

<!-- Popup Form Container -->
<div id="popupForm" class="popup-form hidden">
    <div class="form-content">

        <!-- Close Button -->
        <span id="closePopupBtn" class="close-btn hover:text-feature hover:duration-500">&times;</span>

        <h2 class="font-serif leading-[1.2em] text-[1.2rem] text-center mb-4">Download our free guide with a <strong>detailed itinerary</strong> to see if the <strong>Ayurvedic Internship in Bali</strong> is right for you</h2>

        <!-- Form -->
        <form method="POST" action="https://forms.ontraport.com/v2.4/form_processor.php?" class="form-container">

            <!-- Visible Form Fields -->
            <div class="grid lg:grid-cols-2 gap-2">
                <div>
                    <input type="text" name="firstname" class="input-field text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60" placeholder="First Name" required />
                </div>

                <div>
                    <input type="text" name="lastname" class="input-field text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60" placeholder="Last Name" required />
                </div>

            </div>

            <div class="">
                <input type="email" name="email" class="input-field text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60" placeholder="Email" required />
            </div>

            <div class="">
                <textarea name="f2097" class="input-field text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60 leading-tight" placeholder="What's calling you to join a hands-on, in-person mentorship for your Ayurvedic studies?" required></textarea>
            </div>

            <!-- Hidden Fields -->
            <input name="uid" type="hidden" value="p2c265658f1" />
            <input name="uniquep2c265658f1" type="hidden" value="0" />
            <input name="mopsbbk" type="hidden" value="833C4F86C571836B1FCF52C6:CF67AE64CFD7F99F2D2E74B9" />
            <input name="mopbelg" type="hidden" value="0175373:A9569880F20B5F9AB95307C8:940984725B09376D29E16C62" />
            
            <!-- reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="6LeJGa0qAAAAAEiEr47fYw3X2Alv0twzG-rUSWdn"></div>
            
            <!-- Submit Button -->
            <div class="mt-2">
                <button type="submit" class="submit-btn border border-dark bg-feature rounded-none cursor-pointer w-full p-2 text-dark hover:duration-500 hover:shadow-lg">Submit</button>
            </div>
        </form>
    </div>
</div>