<form method="POST" action="" id=""
    class="lg:w-[80%] mx-auto">


    <!-- Names -->
    <div class="grid lg:grid-cols-2 gap-1 mb-1">

        <!-- First Name -->
        <div class="">
            <input type="text" name="firstname"
                class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60"
                placeholder="First Name" required />
        </div>

        <!-- Last Name -->
        <div class="">
            <input type="text" name="lastname"
                class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60"
                placeholder="Last Name" required />
        </div>
    </div>

    <!-- Email -->
    <div class="mb-1">
        <input type="email" name="email"
            class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60"
            placeholder="Email" required />
    </div>

    <!-- Why -->
    <div class="mb-1">
        <textarea name=""
            class="text bg-transparent border border-dark w-full rounded-none p-2 focus:outline-none focus:border-b-2 focus:border-feature placeholder:text-dark/60 leading-tight"
            placeholder="What's calling you to join an Ayurvedic clinical training retreat?"
            required></textarea>
    </div>

    <!-- Submit Button -->
    <div class="">
        <button id=""
            class="border border-dark bg-feature rounded-none cursor-pointer w-full p-2 hover:duration-500 hover:shadow-lg"
            type="submit">Submit</button>
    </div>
</form>