<section class="bg-{{ page.upcoming-events.background_color }} text-{{ page.upcoming-events.font_color }} relative overflow-hidden">

    <div class="max-w-full">
        <h2 class="lg:hidden font-serif uppercase whitespace-nowrap m-0 text-[22.2vw] md:text-[22.6vw] absolute -top-[{{ page.upcoming-events.top.mobile }}] md:-top-[{{ page.upcoming-events.top.tablet }}] -left-[0.4%] md:-left-[1.6%]">
        Upcoming</h2>

        <h2 class="hidden lg:block font-serif uppercase whitespace-nowrap m-0 text-[10.9vw] absolute -top-[{{ page.upcoming-events.top.desktop }}] -left-[1%]">
        Upcoming Trainings</h2>
    </div>

    <div class="grid md:grid-cols-2 pt-[{{ page.upcoming-events.padding-top.mobile }}] md:pt-[{{ page.upcoming-events.padding-top.tablet }}] lg:pt-[{{ page.upcoming-events.padding-top.desktop }}]">

        <!-- Left Column -->
        <div class="relative bg-image-style min-h-[60vh] md:min-h-0 md:aspect-square mt-28 md:mt-40 md:mb-32 mx-8 lg:mx-20"
            data-aos="fade" data-aos-offset="0" data-aos-duration="3000"
            style="background-image: url('/images/embodied-ayurveda-4.jpeg');">
        </div>

        <!-- Right Column -->
        <div class="my-16 md:mt-40 md:mb-32 px-8 md:px-0 lg:pr:20 lg:w-[60%]" data-aos="fade" data-aos-offset="0"
            data-aos-duration="3000">
            <h3 class="font-serif uppercase text-2xl mb-2">{{
                site.data.site-settings.retreats.ayurvedic-internship.title }}</h3>
            <p class="mb-12">{{ site.data.site-settings.retreats.ayurvedic-internship.description }}</p>
            <p class="uppercase">{{ site.data.site-settings.retreats.ayurvedic-internship.upcoming-date }}</p>
            <p>{{ site.data.site-settings.retreats.ayurvedic-internship.location }}</p>
            <div class="mt-12">
                <a class="link text-{{ page.upcoming-events.font_color }} border-{{ page.upcoming-events.font_color }}" href="/ayurvedic-internship.html">Learn more</a>
            </div>
        </div>
    </div>
</section>